html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.conectar {
  position: fixed;
  top: 0.5em;
  right: 0.5em;
}
/* 
.nft-embed-wrapper {
  position: relative; width:100%; height: calc(274px + 0px);
}

.nft-embed-wrapper > iframe {
  width: 100%!important;
  height:100%!important;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.embed-cont {
  width: 100%; max-width: 750px; margin: 0 auto; position: relative;
} */